//fonts
$SegoeUI:'SegoeUI', sans-serif;
$ProximaNovaT:'ProximaNovaT-Thin', sans-serif;
$DINPro:'DINPro', sans-serif;
$base-font-weight:300;
$base-font-size:14px;
$base-line-height:1.8571;

//color
$brown:#3a2020;
$grey:#717274;
$grey1:#f6f6f6;
$grey2:#b0bec1;
$red:#d60202;
$white:#fff;
$blue:#202945;
$blue1:#3f5b69;
$blue2:#8da5ba;
$black-lite:#212121;
